 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.player {
  height: 100px;
  width: 100px;
  opacity: 0.1
}

.title {
  justify-content: center;
  opacity: 0.1;
  height: 100px;
  width: 100px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.main {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(12, 1fr)
}

.link {
  color: aqua
}

.form {
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 2px
}

@media screen and (max-width: 768px) {
  .form{
    width: 100%;
  }
}


.input {
  background-color: black;
  color: white;
  width: 300px
}

@media screen and (max-width: 768px) {
  .input{
    width: 75%;
  }
}

.message {
  background-color: black;
  color: white;
  width: 400px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .message{
    width: 75%;
  }
}

.icons {
  display: flex;
  justify-content: center
}

.icon {
  margin: 5px;
}

.button {
  border: none;
	cursor: pointer;
	outline: none;
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
  color: white;
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568DC , #B06AB3);
	padding: 20px 40px;
	border-radius: 5px;
	box-shadow: 0 22px 44px rgba(gray, 0.1);
  .text
  webkit-background-clip: text;
  webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568DC , #B06AB3)
}


.button:hover{
  background-image: linear-gradient(-45deg, #4568DC , #B06AB3);
  box-shadow: 0 12px 24px rgba(gray, 0.1);
  .text
    background-image: linear-gradient(-45deg, #4568DC , #B06AB3)
}
