
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%
}

:root {
  --dark-bg: rgba(0, 0, 0, 0.5);
  --spacing: 100px;

  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@media screen and (max-width: 768px) {
  body{
    position: absolute;
  }
}

section {
  grid-column: 5 / 8;
  padding: 1rem;
  border-radius: 25px;
  width: 600px;
  background: rgba(0, 0, 0, 0.7);
  text-shadow: 0 0 5px #000000, 0 0 4px #000000;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

@media screen and (max-width: 768px) {
  section{
    grid-column: 3 / 8;
    font-size: auto;
    width: 250px;
    background: rgba(0, 0, 0, 0.6);
  }
}

header {
  grid-column: 5 / 8;
  color: white;
  text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
  font-size: 2.5rem;
  margin-bottom: var(--spacing);
}

@media screen and (max-width: 768px) {
  header{
    grid-column: 2 / 8;
  }
}

sub {
  background: var(--dark-bg);
  color: pink;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-size: 1rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  align-items: center;
}

